@import "../variables";

.latest-campaigns {
  &__middle {
    flex: 0 0 100% !important;
    justify-content: space-between !important;
    // margin: 0 auto !important;
    &--col {
      display: flex !important;
      flex: 0 0 100% !important;
      justify-content: space-around !important;
    }
  }
  &__bottom {
    &--btn {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      margin-top: 2rem;
    }
  }
}
