@import "../variables";

.cta-banner {
  background-color: $secondary-color--3;
  &__area {
    width: 100% !important;
    &-card {
      background-color: $secondary-color--1 !important;
      // position: relative;
      &__body {
        align-items: center;
        padding: 2rem !important;
        &--left {
          &--heading {
          }
          &--sub-heading {
            font-weight: 300 !important;
            color: $paragraph-text--2 !important;
          }
          &--btn {
            text-align: left !important;
            border: none !important;
            padding: 2rem 0 0 0 !important;
            &svg {
              font-size: 1.2rem !important;
              color: $primary-color !important;
            }
          }
        }
        &--right {
          align-self: flex-end;
          &--img {
            width: 100%;
            // position: absolute;
            // top: -110px;
            // right: -115px;
            // transform: translate(-10px, -20px);
          }
        }
      }
    }
  }
  @media (max-width: 1200px) {
  }
  @media (max-width: 992px) {
  }
  @media (max-width: 576px) {
    &__area {
      &-card {
        &__body {
          padding: 0 !important;
        }
      }
    }
  }
}
