@import "../variables";

.campaign {
  margin-top: 5rem;
  &__top {
    &--heading {
    }
  }
  &__middle {
    width: 100% !important;
    .ant-row {
      justify-content: center !important;
      align-items: center !important;
    }
    &--img {
      position: relative;
      background-size: cover !important;
      height: 700px;
    }
    &--card {
      // width: 900px;
      width: 100%;
      padding: 4rem;
      background-color: $secondary-color--3;
      box-shadow: 0 37px 20px -20px rgba($secondary-color--4, 0.1) !important;
      position: absolute !important;
      bottom: 0;
      transform: translateY(50%);
      -webkit-transform: translateY(50%);
      -moz-transform: translateY(50%);
      -ms-transform: translateY(50%);
      -o-transform: translateY(50%);
      border-radius: 0.5rem;
      -webkit-border-radius: 0.5rem;
      -moz-border-radius: 0.5rem;
      -ms-border-radius: 0.5rem;
      -o-border-radius: 0.5rem;
      &-area {
        justify-content: space-between !important;
        &-left {
          &-top {
            &--percent {
              width: 100%;
              font-weight: 500;
              color: $primary-color !important;
            }
            &--progress {
              .ant-progress-bg {
                background-color: $primary-color !important;
              }
            }
          }
          &-bottom {
            &--data {
              display: flex !important;
              align-items: center;
              color: rgba($paragraph-text--1, 0.7);
              font-size: 0.8rem;
              &-icon {
                font-size: 2rem;
                padding-right: 1rem;
                svg {
                  color: rgba($primary-color, 0.4);
                }
              }
              &-number {
                display: block;
                color: $primary-color;
                font-size: 1.5rem;
                font-weight: 500;
              }
            }
          }
        }
        &-right {
          width: 100% !important;
          // flex: 0 !important;
        }
      }
    }
  }
  &__bottom {
    margin-top: 20rem !important;
    padding: 0 !important;
    justify-content: space-between !important;
    &-left {
      &-quote {
        color: $primary-color;
        border-left: 5px solid $primary-color;
        background-color: $secondary-color--1;
        padding: 3rem;
        font-size: 2rem;
        font-weight: 300 !important;
        blockquote {
          margin-bottom: 0 !important;
        }
      }
      &-description {
        padding: 3rem 0;
        font-size: 1rem !important;
        color: $paragraph-text--1;
        line-height: 1.8 !important;
        font-weight: 300 !important;
      }
    }
    &-right {
      flex: 0 !important;
      &--card {
        width: 300px;
        padding: 2rem;
        margin-bottom: 2rem;
        &--heading {
          font-size: 1.2rem !important;
          font-weight: 300 !important;
          letter-spacing: 0.03rem;
        }
        &--body-text {
          color: $paragraph-text--2;
          font-weight: 300;
          &--left {
            border-right: 1px solid $secondary-color--2 !important;
          }
          &--right {
            padding-left: 1rem;
          }
        }
        &--org {
          background-color: $secondary-color--5;
        }
        &--supporter {
          background-color: #fff;
          border: 1px solid rgba($secondary-color--5, 0.5);
          margin-bottom: 0;
        }
      }
    }
  }

  @media (max-width: 1200px) {
    &__middle {
      &--card {
        &-area {
          &-right {
            margin-top: 2rem;
          }
        }
      }
    }
    &__bottom {
      justify-content: space-around !important;
      &-right {
        width: 100% !important;
        display: flex !important;
        justify-content: space-around !important;
        align-items: flex-start;
        &--card {
          margin: 0 2rem !important;
        }
      }
    }
  }
  @media (max-width: 992px) {
    &__middle {
      &--card {
        &-area {
          &-right {
            margin-top: 2rem;
          }
        }
      }
    }
    &__bottom {
      justify-content: space-around !important;
      &-right {
        width: 100% !important;
        display: flex !important;
        justify-content: space-around !important;
        align-items: flex-start;
        &--card {
          margin: 0 2rem !important;
        }
      }
    }
  }

  @media (max-width: 576px) {
    &__middle {
      &--card {
        &-area {
          &-left {
            &-bottom {
              &--data {
                padding: 0.5rem 0 !important;
                flex-direction: row !important;
                font-size: 1rem !important;

                &-number {
                  display: inline !important;
                  color: $primary-color;
                  font-size: 1.5rem;
                  font-weight: 500;
                  padding-right: 0.5rem;
                  font-size: 1rem !important;
                }
              }
            }
          }
        }
      }
    }

    &__bottom {
      &-right {
        width: 100% !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: space-around !important;
        align-items: flex-start;
        &--card {
          margin: 0 2rem !important;
          &--supporter {
            margin-top: 2rem !important;
          }
        }
      }
    }
  }
}
