$primary-color: #1d3444;
$secondary-color--1: #dceaf5;
$secondary-color--2: #718593;
$secondary-color--3: #f9fcff;
$secondary-color--4: #8b98a1;
$secondary-color--5: #e3e8ec;
$paragraph-text--1: #5b5b5b;
$paragraph-text--2: #6a6a6a;

/* Ant Design Screen Breakpoint
{
    xs: '480px',
    sm: '576px',
    md: '768px',
    lg: '992px',
    xl: '1200px',
    xxl: '1600px',
  } */

/* 
  @media (max-width: 1200px) {}
  @media (max-width: 992px) {}
  @media (max-width: 576px) {}
  */

// $bkg1-light: #e3e8ec;

// $bkg1-dark: hsl(218, 15.4%, 10.2%);

// $bkg1: $bkg1-dark;

// @media (prefers-color-scheme: dark) {
//   $bkg1: $bkg1-dark;
// }

// @media (prefers-color-scheme: light) {
//   $bkg1: $bkg1-light;
// }

// [color-scheme='dark'] {
//   $bkg1: $bkg1-dark;
// }

// [color-scheme='light'] {
//   $bkg1: $bkg1-light;
// }

:root {
  --bkg1-light: #e3e8ec;
  --bkg1-dark: #111d2c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bkg1: var(--bkg1-dark);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bkg1: var(--bkg1-light);
  }
}

[color-scheme="dark"] {
  --bkg1: var(--bkg1-dark);
}

[color-scheme="light"] {
  --bkg1: var(--bkg1-light);
}
